img {
    margin-left: 350px;
    width: 25%;
    height: 35%;
}

.bar-color {
    background-color: #f5365c;
    border-style: none;
}

#template-content-body {
    display: none;
}

a.button {
    color: white;
}

a {
    color: black;
}

a:hover {
    text-decoration: underline;
}

.take-note-grid {
    display: none;
}

.hairbook-elements {
    margin-left: 20px;
}

